@import "../../../scss/variables"; //created custom variables

/*----------------------- Header css starts ----------------------*/

header{
 position: relative;
 top: 0;
 left: 0;
}

/*----------------------- Header css ends ----------------------*/

/*----------------------- Navbar css starts ----------------------*/
.navbar-fixed-top {
	position:fixed !important;
}

nav {
	position: relative;
	top: 0;
	width: 100%;
	// background-color: transparent;	
	background-color: #5b5b5b;
	transition: 0.2s;
	z-index: 3;
	

	.navbckgrdwhite {
		background-color: $white;
		transition: all 0.2s;
	}

	.bgChange {
		background-color: $text-color;
	}
	.nav-white {
		background-color: $white;
		transition: all 0.2s;
		padding-bottom: 40px;
	}
	
	.navbar-brand {
    	height: 50px;
   		width: auto;
    	opacity: 1;
	}
		
	.logoCollapsed {
		background-color: $black;
		height: 50px;
		width: auto;
		margin-top: -5px;
		opacity: 1;
	}

	.nav-link {
		font: normal 600 70%/32px 'Muli', 'Arial', sans-serif;
		text-decoration: none;
		outline: none;
		color: $white;
		text-transform: uppercase;
		opacity: 1;
	}

	.nav-link:hover, .nav-link:focus, .nav-link:active, .nav-link:visited{
		color: $white;
		transition: border 0.2s;
		border-bottom: 2px solid $primary;
	}

	.linkcolor{
		color: $black !important;
	}

	.active {
		color: $white;
		transition: border 0.2s;
		border-bottom: 2px solid $primary;
	}

	.btn-outline-primary {
		color: $primary;
		outline: none;
	}
		
	.btn-ghost-collapsed{
		position:relative;
		border-radius: 20px;
		margin-top: 5px;
		width: 25%;
		height: auto;
		-webkit-transition:0.2s all;
		transition:0.2s all;
	}

	.btn-ghost-collapsed:hover{
		color: $white;
		width: 35%;
		padding-right: 45px !important;
		transition: all 0.3s;
	}

	.btn-ghost-collapsed:after {
		content:"\f178";
		font-family:FontAwesome;
		position:absolute;
		width: 25px;
		right: 10px;
		text-align:center;
		color: $white;
		opacity:0;
		-webkit-transition:0.2s all;
		transition:0.2s all;
	}

	.btn-ghost-collapsed:hover:after{
		opacity:1;
		transition: 0.5s;
	}
	
	.btn-primary{
		// padding-top:7px !important;
		// padding-bottom:5px !important;
		// padding-right: 20px !important;
		// padding-left: 20px !important;
		// background-color: transparent !important;
		border: 1px solid #F29422;
		color: #FFFFFF;
		border-radius: 40px;
		margin-top: 5px;
		-webkit-transition:0.2s all;
		transition:0.2s all;
	}

	.btn-ghost:hover{
		// background-color:#fff;
		// border: 1px solid #FF6700;
		// color:#FF6700;
		padding-right: 45px !important;
	}
	
	.btn-ghost:after {
		// content:"\f178";
		content: "\f2f6";
		font-family:"Font Awesome 5 Free";
		position:absolute;
		width: 25px;
		right: 10px;
		text-align:center;
		opacity:0;
		-webkit-transition:0.2s all;
		transition:0.2s all;
	}
	
	.btn-ghost:hover:after{
		opacity:1;
	}

}


@media (max-width: 767.9px) {
	nav {
		// background-color: #5b5b5b;	

		.nav-link:hover {
			border-bottom: none;
		}

		// .logo {
		// 	height: 60px;
		// 	width: auto;
		// }

		// .active {
		// 	border-bottom: none;
		// }
	}

}

@media (max-width: 991.9px) {
	nav {
		// background-color: #5b5b5b;	

		// .nav-link:hover {
		// 	border-bottom: none;
		// }

		
		.nav-white {
			background-color: $white;
			transition: all 0.2s;
			padding-bottom: 30px;
			margin-left: -20px;
			padding-left: 8px;
			margin-top: -10px;
			padding-top: 9px;
			// margin-right: -15px !important;
			// padding-right: 25px;
		}

		.logo {
			height: 60px;
			width: auto;
		}

		// .active {
		// 	border-bottom: none;
		// }

		
		.btn-ghost-collapsed.profile-btn{
			width: 40% !important;
		}

		.nav-link.profile-btn:visited {
			color: $black;
		}

		.profile-btn:hover{
			width: 60px !important;
			padding-right: 70px !important;
		}
	
		.btn-ghost-collapsed.profile-btn:hover{
			color: $white !important;
			width: 95% !important;
			padding-right: 65px !important;
			transition: all 0.3s !important;
		}
	
	}

}

@media (min-width: 992px) {
	nav {


		.logo {
			height: 60px;
			width: auto;
		}

		.btn-ghost-collapsed{
			// position:relative;
			// border-radius: 20px;
			margin-top: 0;
			min-width: 60%;
			// padding-bottom: 0 !important;
			// padding-top: 0 !important;

		// 	height: auto;
		// 	-webkit-transition:0.2s all;
		// 	transition:0.2s all;
		}
	
		.btn-ghost-collapsed:hover{
			// color: $white;
			width: 55%;
			padding-right: 65px !important;
			// transition: all 0.3s;
		}

		// .active {
		// 	border-bottom: none;
		// }

	}

}
/*----------------------- Navbar css ends ----------------------*/

// /*----------------------- Header css starts ----------------------*/

// header{
//     position: relative;
//     top: 0;
// }
   
//    /*----------------------- Header css ends ----------------------*/
   
//    /*----------------------- Navbar css starts ----------------------*/
   
// nav{
//     position: absolute;
//     top: 0;
//     width: 100%;
// //    background-color: transparent;	
//     z-index: 1;
//     // border-bottom: 0.3px groove #fff;
// }

// .navbckgrdwhite{
//     background-color: white !important;
//     margin-bottom: 5px;	
//     z-index: 2;
// }

// .logo{
//     height: 50px;
//     width: auto;
//     float: left;
//     opacity: 1;
// }

// .logoCollapsed{
//     background-color: rgb(70, 63, 63);
//     // background-color: rgb(226, 190, 145);
//     height: 50px;
//     width: auto;
//     float: left;
//     opacity: 1;
// }

// #navbarSupportedContent a{
// 	font: normal 600 70%/32px 'Muli', 'Arial', sans-serif;
//     text-decoration: none;
// 	outline: none;
//     color: #FFFFFF;
//     text-transform: uppercase;
// 	// top: 25px;
// 	// height: 32px;
// 	// text-align: left;
// 	// letter-spacing: 0;
// 	// word-spacing: 4px;
// 	opacity: 1;
// 	padding-bottom: 5px;
// 	// margin-bottom: 5px;
// }

// #navbarSupportedContent a:hover,
// #navbarSupportedContent a:hover{
// 	border-bottom: 2px solid #F29422;
// 	// text-decoration: underline 2px solid #F29422;
// }


// .linkcolor{
// 	color: rgb(70, 63, 63) !important;
// }

// // .btn:link,
// // .btn:visited{
// //     display: inline-block;
// //     padding: 10px 30px;
// //     font-weight: 300;
// //     text-decoration: none;
// //     border-radius: 200px;
// //     // transition: background-color 0.2s, border 0.2s, color 0.2s;
// // }

// // .btn-full:link,
// // .btn-full:visited{
// //     background-color: #e67e22;
// //     border: 1px solid #e67e22;
// //     color: #fff;
// //     margin-right: 15px;
// // }
// .btn-ghost{
// 	position:relative;
// 	display:inline-block;
// 	padding-top:7px !important;
// 	padding-bottom:5px !important;
// 	padding-right: 20px !important;
// 	padding-left: 20px !important;
// 	background-color: transparent !important;
// 	border: 1px solid #F29422;
// 	color: #FFFFFF;
// 	border-radius: 40px;
// 	margin-top: 5px;
// 	-webkit-transition:0.2s all;
// 	transition:0.2s all;
// }

// .btn-ghost:hover{
// 	// background-color:#fff;
// 	// border: 1px solid #FF6700;
// 	// color:#FF6700;
// 	padding-right: 45px !important;
// }

// .btn-ghost:after {
// 	// content:"\f178";
// 	content: "\f2f6";
// 	font-family:"Font Awesome 5 Free";
// 	position:absolute;
// 	width: 25px;
// 	right: 10px;
// 	text-align:center;
// 	opacity:0;
// 	-webkit-transition:0.2s all;
// 	transition:0.2s all;
// }

// .btn-ghost:hover:after{
// 	opacity:1;
// }

// .btn-ghost-collapsed{
// 	position:relative;
// 	display:inline-block;
// 	padding-top:7px !important;
// 	padding-bottom:5px !important;
// 	padding-right: 20px !important;
// 	padding-left: 20px !important;
// 	background-color: transparent !important;
// 	border: 1px solid #F29422;
// 	color: black !important;
// 	border-radius: 40px;
// 	margin-top: 5px;
// 	-webkit-transition:0.2s all;
// 	transition:0.2s all;
// 	width: 20%;
// }

// .btn-ghost-collapsed:hover{
// 	// background-color:#fff;
// 	// border: 1px solid #FF6700;
// 	// color:#FF6700;
// 	padding-right: 45px !important;
// }

// .btn-ghost-collapsed:after {
// 	content:"\f178";
// 	font-family:FontAwesome;
// 	position:absolute;
// 	width: 25px;
// 	right: 10px;
// 	text-align:center;
// 	opacity:0;
// 	-webkit-transition:0.2s all;
// 	transition:0.2s all;
// }

// .btn-ghost-collapsed:hover:after{
// 	opacity:1;
// }

// // .btn-ghost:link,
// // .btn-ghost:visited{
// //     border: 1px solid #e67e22 !important;
// //     color: #e67e22;
// // }

// // .btn:hover,
// // .btn:active{
// //     background-color: #cf6d17;
// // }

// // .btn-full:hover,
// // .btn-full:active{
// //     border: 1px solid #cf6d17;
// // }

// // .btn-ghost:hover,
// // .btn-ghost:active{
// //     border: 1px solid #cf6d17;
// //     color: #fff;
// // }

// /*----------------------- Navbar css ends ----------------------*/
