.container-fluid {
    margin-top: 75px !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    overflow-x: hidden;
}

.col-sm-10 {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.col-sm-2 {
    padding-right: 0 !important;
    margin-right: 0 !important;
}