<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <app-dashboard-menu></app-dashboard-menu>
        </div>
        <div class="col-sm-10">
            <!-- <app-dashboard-current-view *ngIf="viewSelectedString; else redirect" [currentViewString] = "viewSelectedString"></app-dashboard-current-view>
            <ng-template #redirect>
                [routerLink]="['/']" routerLinkActive="router-link-active" 
            </ng-template> -->
            <!-- <p>welcome to your dashboard</p> -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div> 