.container-fluid {
    margin-top: 75px !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    overflow-x: hidden;
}

// .col-12, .col-lg-10 {
//     margin-left: -20px;
//     margin-right: -30px;
// }
