.col-sm-12 {
    padding-left: 0 !important;
    padding-right:  0 !important;
}

.col-sm-10 {
    position: relative;
    border-top: 1px solid rgb(204, 198, 198);
    border-bottom: 1px solid rgb(204, 198, 198);
}

p{
    font-size: 75%;
    line-height: 160%;
    word-spacing: 2px;
    font-weight: 501;
    color: rgb(63, 63, 63) !important;
    // padding-bottom: 10px;
}

.date {
    position: absolute;
    right: 5%;
    top: 7%;
    color: rgb(240, 168, 81) !important;
    font-size: 70%;
}

.form-comment {
    background-color:  #cfcfcf;
    opacity: 1;
    padding: 12px;
    border-radius: 5px;
    font-size: 70%;
    font-weight: 500;
    text-transform: none;
}

.form-style {
    opacity: 1 !important;
} 

.text-warning {
    color: rgb(188, 149, 102);
    text-transform: lowercase;
    font-size: 70%;
    font-weight: 500;
}


.form-control{
    // padding: 0.375rem 1.75rem;
    // background-color: transparent;
    font-size: 75%;
    font-weight: 700;
    text-transform: none;
	// border-bottom: 3px solid rgb(206, 141, 62);
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

::-webkit-input-placeholder { /* Edge */
    color: rgb(55, 65, 65);
}
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #84BFBF;
}
  
  ::placeholder {
    // color: #84BFBF;
    // opacity: 0.4;
    font-size: 90%;
    font-style: italic;
    color: rgb(24, 23, 23);
    opacity: 0.8;
}

input.ng-touched.ng-invalid{
    border-color: #dc3545;
}

select.ng-touched.ng-invalid{
    border-color: #dc3545;
}

textarea.ng-touched.ng-invalid{
    border-color: #dc3545;
}

input.ng-valid{
    border-color: #28a745;
}

select.ng-valid{
    border-color: #28a745;
}

textarea.ng-valid{
    border-color: #28a745;
}

.green-icon{
    color: #FFFFFF;
}

.red-icon{
    background-color: #dc3545;
}

.btn-ghost{
	position:relative;
	display:inline-block;
	padding-top:5px !important;
	padding-bottom:8px !important;
	padding-right: 20px !important;
	padding-left: 20px !important;
	background-color: white !important;
	border: 1px solid #F29422;
	color: #F29422;
	border-radius: 40px;
	margin-top: 5px;
	-webkit-transition:0.2s all;
    transition:0.2s all;
    // width: 40%;
    cursor: pointer;
}

:disabled{
    cursor: default;
}