@import "../../../../scss/variables";

.form-control:focus {
    // border-color: #28a745;
    box-shadow: 0 0 0 0.1rem $primary;
}

.login-modal-overlay:after {
	content:"";
	position:fixed;
	left:0; 
	right:0;
	top:0;
    bottom:0;
    width: 100vw;
    height: 100vh;
	background: linear-gradient(to bottom, #292929 0%, #332f2f 100%);
    opacity: 0.8;
    z-index: 2;
}

.login-modal{
    // position: fixed;
    // top: 30vh;
    // left: 31vw;
    // width: 40vw;
    // padding: 16px;
    // z-index: 99;
    // box-shadow: 29px 31px 10px #00000029;
    // border: 1px solid #707070;
    // background: rgb(255,255,255);
    // background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(251,223,188,1) 5%, rgba(249,205,151,1) 16%, rgba(245,175,89,1) 33%, rgba(231,160,73,1) 50%, rgba(175,139,96,1) 65%, rgba(118,164,164,1) 100%, rgba(255,255,255,1) 100%); 
    position: fixed;
    top: 50%;
    // bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 600px;
    max-width: 100%;
    // height: 50vh;
    height: auto;
    max-height: 100%;
    overflow: auto;
    margin-top: 10px !important;
    margin-bottom: 10px !important;

    // position: fixed;
    // top: 10vh;
    // left: 31vw;
    width: 45vw;
    // padding: 16px;
    border-radius: 23px;
    z-index: 99;
    box-shadow: 29px 31px 10px #00000029;
    border: 1px solid #707070;
    // background: rgb(255,255,255);
    // background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(251,223,188,1) 5%, rgba(249,205,151,1) 16%, rgba(245,175,89,1) 33%, rgba(231,160,73,1) 50%, rgba(175,139,96,1) 65%, rgba(118,164,164,1) 100%, rgba(255,255,255,1) 100%); 
    // background: #EFEFBB;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to bottom, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to bottom, rgb(243, 199, 145), rgb(229, 217, 201)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background: $white;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #fff, #fff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fff, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-modal-close{
    text-align: right;
}

.close-x{
    font-size: 100%;
    font-weight: 600;
    margin-left: 95%;
    margin-top: 0;
    color: rgb(36, 34, 34);
    padding-top: 0;
}


#section-login{
	padding: 0;
}

#section-login h2{
    font-size: 140%;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 1px;
	margin-bottom: 10px;
	text-align: center;
}

#section-login p,
#section-login a:link{
	font-size: 80%;
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
	word-spacing: 2px;
    padding-bottom: 10px;
}

// .col-form-label{
//     left: 20px;
//     background-color: #84BFBF;
//     border-radius: 6px 0 0 6px;
//     color: #ffffff;
//     z-index: 1;
// }

.form-control{
    // padding: 0.375rem 1.75rem;
    background-color: transparent;
	border-bottom: 3px solid $primary;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

::-webkit-input-placeholder { /* Edge */
    color: #84BFBF;
}
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #84BFBF;
}
  
  ::placeholder {
    // color: #84BFBF;
    // opacity: 0.4;
    font-size: 80%;
    font-style: italic;
    color: rgb(34, 31, 31);
    opacity: 0.5;
}

.color-black{
      color: #000 !important;
      text-decoration: underline  $primary;
      font-size: 70% !important;
      border: none;
      cursor: pointer;
}

  .btn{
      color: #FFFFFF;
      background-color: #84BFBF;
}

input.ng-touched.ng-invalid{
    border-color: #dc3545;
}

input.ng-valid{
    border-color: #28a745;
}

.green-icon{
    color: #FFFFFF;
}

.red-icon{
    background-color: #dc3545;
}

.btn-ghost{
	position:relative;
	display:inline-block;
	padding-top:5px !important;
	padding-bottom:8px !important;
	padding-right: 20px !important;
	padding-left: 20px !important;
	background-color: transparent !important;
	border: 1px solid $primary;
	color: $primary;
	border-radius: 40px;
	margin-top: 5px;
	-webkit-transition:0.2s all;
    transition:0.2s all;
    // width: 40%;
    cursor: pointer;
}

:disabled{
    cursor: default;
}

@media (max-width: 767.9px) {
	.login-modal{
        width: 90vw;
    }
    
    .heading  {
        margin-left: 35px;
        margin-right: 35px;
    }

    .col-6.btn-ghost {
        width: 100vw;
    }
}

@media (min-width: 768px) and (max-width: 991.9px){
    .login-modal{
        width: 70vw;
        margin-left: 35px;
        margin-right: 35px;
    }

    .col-6.btn-ghost {
        width: 80vw;
    }
}