<header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" #nav id="nav">
        <div class="container-fluid" [class.nav-white]="isCollapsed">
            <a class="navbar-brand mr-auto animate__animated animate__rubberBand" routerLink= "/"> 
                <img src="\assets\images\logo.png" alt="Pregnancy village logo" [class.logo]="!isCollapsed" [class.logoCollapsed]="isCollapsed"> 
            </a>
            
            <!-- testing purpose -->
            <!-- <button type="button" class="badge">
                <span class="text-white"> Notifications </span>
            </button> -->

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
                [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed"  
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color:#FFF;">
                <span class="navbar-toggler-icon" style="text-decoration: none;"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="!isCollapsed" [isAnimated]="true">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" routerLink = "/" [class.linkcolor]="isCollapsed">
                            Home
                        </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" routerLink ="/forums/posts" [class.linkcolor]="isCollapsed">
                            Forums
                        </a>
                    </li>
                    <!-- <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link disabled" aria-disabled="true" routerLink = "/dashboard" [class.linkcolor]="isCollapsed">
                            Market
                        </a>
                    </li> -->
                    <!-- <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link disabled" aria-disabled="true" routerLink = "/dashboard" [class.linkcolor]="isCollapsed">
                            Consultancy
                        </a>
                    </li> -->
                    <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" href="#contact" [class.linkcolor]="isCollapsed">
                            Contact
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav d-flex justify-content-end">
                    <a class="btn nav-link mr-auto mr-md-3 p-1 p-md-2 mt-3 px-lg-2 py-lg-1 mt-ml-0 btn-outline-primary btn-ghost-collapsed"
                        [class.btn-sm]="isCollapsed" 
                        *ngIf="isLoggedIn()" style="cursor: pointer;" role="button" (click)="onSignupClicked()">Sign up
                    </a>
                    <a class="btn nav-link mr-auto mr-md-3 p-1 p-md-2 mt-3 px-lg-2 py-lg-1 mt-ml-0 btn-outline-primary btn-ghost-collapsed" 
                        [class.btn-sm]="isCollapsed" 
                        *ngIf="isLoggedIn()" style="cursor: pointer;" role="button" (click)="onLoginClicked()">Sign in
                    </a>
                    <a class="btn nav-link mr-auto mr-md-3 p-1 p-md-2 mt-3 px-lg-2 py-lg-1 mt-ml-0 btn-outline-primary btn-ghost-collapsed profile-btn" 
                        [class.btn-sm]="isCollapsed"  
                        *ngIf="!isLoggedIn()" style="cursor: pointer;" role="button" [routerLink]="['/' + userId, 'dashboard']" 
                        style="text-transform: capitalize;">{{authService.decodedToken?.firstName}} <i class="fas fa-user"></i>
                    </a>
                    <a class="btn nav-link mr-auto mr-md-3 p-1 p-md-2 mt-3 px-lg-2 py-lg-1 mt-ml-0 btn-outline-primary btn-ghost-collapsed" 
                        [class.btn-sm]="isCollapsed" 
                        *ngIf="!isLoggedIn()" style="cursor: pointer;" role="button" (click)="loggedOut()">Sign out
                    </a>

                </ul>
            </div>
        </div>
    </nav>

    <app-register *ngIf= "clickedSignUp" (closeModalClicked)="onSignupCloseModalClicked()"></app-register>
    <app-login-modal *ngIf= "clickedLogin" (closeModalClicked)="onSigninCloseModalClicked()"></app-login-modal>

    <div id="hero-image-div" class="d-flex align-items-start">
        <div class="bg-image overlay">  
            <!-- <div id="hero-image-ad-contents">
                <div class="container">
                    <div class="card col-8">
                        <div class="card-body">
                          <h5 class="card-title text-muted">Place your Ad</h5>
                        </div>
                      </div>
                    </div>         
                </div> -->
                
            <div id="hero-image-contents">
                <div class="container d-flex flex-column align-items-end">
                    <!-- <h1 class="display-4 animate__animated animate__bounce mb-0 mb-md-3"><span style="color: #3f97e1;">Pregnancy</span> Village</h1>
                    <small class="small text-muted d-block d-md-none mt-0"><i>share with us</i></small> -->
                    <!-- <p class="animate__animated animate__backInLeft d-none d-md-block">
                        Pregnancy village is Nigeria's first online community platform for pregnant women.<br>
                        The platform allows women from anywhere share their experience during pregnancy,<br> 
                        give access to doctors and specialist, and a market place to buy and sell babies stuffs,<br> 
                        kids and women stuffs.
                    </p>
                    <small class="animate__animated animate__backInLeft d-md-none">
                        Pregnancy village is Nigeria's first online community platform for pregnant women.<br>
                        The platform allows women from anywhere share their experience during pregnancy,<br> 
                        give access to doctors and specialist, and a market place to buy and sell babies stuffs,<br> 
                        kids and women stuffs.
                    </small><br> -->
                    <a href="#forums" class="btn btn-primary nav-link btn-sm mr-md-3 mr-2 p-2 py-md-2 mt-3 d-inline-block" 
                        *ngIf="true"  role="button">Forums
                    </a>

                    <a class="btn btn-primary nav-link btn-sm mr-md-3 mr-2 p-2 py-md-2 mt-3 d-inline-block profile-btn" *ngIf="!authService.loggedIn()"
                        style="cursor: pointer;" role="button" [routerLink]="['/' + userId, 'dashboard']" 
                        style="text-transform: capitalize;">{{authService.decodedToken?.firstName}} <i class="fas fa-user"></i>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div id="section-features">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <h1 class=""> Share your stories with &mdash; <span style="color: #3f97e1;">LOVE</span></h1>
                        <p class="mb-4 text-left">
                            Pregnancy village is Nigeria's first online community platform for pregnant women.
                            The platform allows women from anywhere share their experience during pregnancy,<br> 
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title text-capitalize">Forums  <i class="ml-1 fas fa-users icon-big"></i></h5>
                          <p class="card-text">Connect with other mothers and mothers-to-be on our pregnancy forum. 
                              Ask questions and share tips on getting pregnant, journey through pregnancy, 
                              delivery, parenting, feeding and baby care.
                           </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-capitalize">Market  <i class="ml-1 fas fa-store-alt icon-big"></i></h5>
                            <p class="card-text">Find the best product for you and your baby in our online shop.
                                Become a vendor or buy pregnancy care products, maternity pillow, maternity lingerie,
                                 bedsheets, baby products et al, at the best price.
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title text-capitalize">Consultancy <i class="fas fa-chalkboard-teacher ml-1 icon-big"></i></h5>
                          <p class="card-text">Book a one-on-one consultation session with our in-house doctors, 
                              obstetrician and midwife who listens to your concerns,
                               answer your questions provide useful information and suggestions on healthy pregnancy practices.
                          </p>
                        </div>
                    </div>
                </div>
    
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title  text-capitalize">Contact  <i class="ml-1 far fa-id-card icon-big"></i></h5>
                          <p class="card-text">Hi, there. How may we help you?
                            For further inquiries, complaints or feedback. Kindly reach out to us and tell us how we can help you.
                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</section>

<section>
    <div id="section-images">
        <ul class="list-group list-group-horizontal viewer">
            <div class="row">
                <div class="col-12 h-100">    
                    <li class="list-group-item view">
                        <figure class="figure">
                            <img src="../../../../assets/images/preg15.jpg" class="figure-img img-fluid rounded" alt="...">
                        </figure>
                    </li>
                
                    
                    <li class="list-group-item view">
                        <figure class="figure">
                            <img src="../../../../assets/images/preg3.jpg" class="figure-img img-fluid rounded" alt="...">
                        </figure>
                    </li>
                    
                    <li class="list-group-item view">
                        <figure class="figure">
                            <img src="../../../../assets/images/preg5.jpg" class="figure-img img-fluid rounded" alt="...">
                        </figure>
                    </li>
                    <li class="list-group-item view">
                        <figure class="figure">
                            <img src="../../../../assets/images/preg8.jpg" class="figure-img img-fluid rounded" alt="...">
                        </figure>
                    </li>
                    <li class="list-group-item view">
                        <figure class="figure">
                            <img src="../../../../assets/images/preg10.jpg" class="figure-img img-fluid rounded" alt="...">
                        </figure>
                    </li>
                    <li class="list-group-item view">
                        <figure class="figure">
                            <img src="../../../../assets/images/preg13.jpg" class="figure-img img-fluid rounded" alt="...">
                        </figure>
                    </li>
                    <li class="list-group-item view">
                        <figure class="figure">
                            <img src="../../../../assets/images/preg16.jpg" class="figure-img img-fluid rounded" alt="...">
                        </figure>
                    </li>
                    <li class="list-group-item view">
                        <figure class="figure">
                            <img src="../../../../assets/images/preg11.jpg" class="figure-img img-fluid rounded" alt="...">
                        </figure>
                    </li>
                </div>
            </div>
        </ul>
    </div>
</section>

<section>
    <div id="section-tabset" class="container-fluid my-2 pd-3">
        <div class="row">
            <div class="col-sm-12">
                <a name="forums"><h1 class=""> Join the Community and share &mdash; <span style="color: #3f97e1;">FORUMS</span></h1></a>
            </div>
        </div>

        <div class="container-fluid mt-3" style="background-color: #fafafa;">    
            <div class="container">
                <tabset class="member-tabset">
                    <!-- <div *ngFor="let post of categoryPosts"> -->
                        <tab *ngFor="let item of postsBycategory" heading="{{item.name}}" id="tab1">
                            <div class="row">
                                <div class="col-12 col-md-6" *ngFor="let post of item.posts.slice(0,12)">
                                    <div class="card">
                                        <div class="row card-body forums-list" >
                                            <div class="col-12 author">
                                                <h6 class="card-text text-muted d-inline"> {{limitString(post.userId, 20)}}</h6> <p class=" d-inline-block ml-5 time">{{post.createdAt|timeago:true}}</p>
                                            </div>
                                            <div class="col-12 message">
                                                <a [routerLink]="['/forums/posts', post.id]"><h5 class="card-title">{{limitString(post.topic, 20)}}</h5></a>
                                                <p class="card-text d-sm-none d-md-block d-lg-none">
                                                    {{limitString(post.description, 70)}}
                                                </p>
                                                <p class="card-text d-none d-sm-block d-md-none">
                                                    {{limitString(post.description, 120)}}
                                                </p>
                                                <p class="card-text d-none d-lg-block">
                                                    {{limitString(post.description, 150)}}
                                                </p>
                                            </div>
                                            <!-- <div class="col-sm-2 icons">
                                                <span style="font-size: 1em; color: #F29422;">
                                                    <i class="far fa-comments"></i>
                                                </span> <h6 class="card-text text-muted pl-1" style="display: inline-block;"> 3</h6>
    
                                            </div> -->
                                        </div>   
                                    </div>
                                </div>
                            </div>
                        </tab>
                    <!-- </div> -->
                </tabset>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a class="nav-link" routerLink ="/forums/posts" class="btn btn-primary nav-link btn-sm mr-md-3 mr-2 p-2 py-md-2 mt-3 d-inline-block" role="button">View more topics..</a>
        </div>
    </div>
</section>

<section class="bg-drk">
    <div id="contact-div" class="container text-white text-center py-5">
        <a name="contact"><p class="lead text-uppercase">Reach out to us, we await</p></a>
        <div class="row justify-content-center">
            <div class="col-10 col-sm-8 border border-primary p-2 p-md-5">
                <form>
                    <div class="form-group">
                        <input type="text" placeholder="your email" class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="write us"></textarea>
                    </div>
                        <div class="input-group append">
                            <button class="btn btn-primary" disabled>Send</button>
                        </div>
        
                </form>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>


