<header>
    <div class="container-fluid d-flex justify-content-center">
        <nav class="navbar navbar-expand-lg navbar-light" [class.navbckgrdwhite]="isCollapsed">
            <div class="container-fluid">
                <a class="navbar-brand mr-5 animate__animated animate__rubberBand" [routerLink]="['/']"> 
                    <img src="\assets\images\logo.png" alt="Pregnancy village logo" 
                        [class.logo]="!isCollapsed" [class.logoCollapsed]="isCollapsed"> 
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
                    [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed"  
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" 
                    style="background-color:#FFF;">
                    <span class="navbar-toggler-icon" style="text-decoration: none;"></span>
                </button>
                        
                <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="!isCollapsed" [isAnimated]="true">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link" [routerLink]="['/']" [class.linkcolor]="isCollapsed">
                                Home
                            </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link" [routerLink]="['/profile']" [class.linkcolor]="isCollapsed">
                                Forums
                            </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link" [routerLink]="['/dashboard']" [class.linkcolor]="isCollapsed">
                                Market
                            </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link" [routerLink]="['/dashboard']" [class.linkcolor]="isCollapsed">
                                Cart
                            </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link" [routerLink]="['/dashboard']" [class.linkcolor]="isCollapsed">
                                Contact
                            </a>
                        </li>
                    </ul>
    
                    <ul class="navbar-nav ml-auto">
                        <a class="btn nav-link mr-3" [class.btn-ghost]="!isCollapsed" [class.btn-ghost-collapsed]="isCollapsed" 
                            *ngIf="isLoggedIn()" style="cursor: pointer;" role="button" (click)="onSignupClicked()">Sign up
                        </a>
                        <!-- <a class="btn btn-primary mr-3 nav-link" *ngIf="true" [routerLink]="['/']"  role="button">Register</a> -->
                        <a class="btn nav-link mr-3" [class.btn-ghost]="!isCollapsed" [class.btn-ghost-collapsed]="isCollapsed"
                            *ngIf="isLoggedIn()" style="cursor: pointer;" role="button" (click)="onLoginClicked()">Sign in
                        </a>
                        <a class="btn nav-link mr-3" [class.btn-ghost]="!isCollapsed" [class.btn-ghost-collapsed]="isCollapsed" 
                            *ngIf="!isLoggedIn()" style="cursor: pointer;" role="button" [routerLink]="[firstname, 'profile']" style="text-transform: capitalize;">{{authService.decodedToken?.firstName}} <i class="fas fa-user"></i>
                        </a>
                        <!-- <a class="btn btn-primary mr-3 nav-link" *ngIf="true" [routerLink]="['/']"  role="button">Register</a> -->
                        <a class="btn nav-link mr-3" [class.btn-ghost]="!isCollapsed" [class.btn-ghost-collapsed]="isCollapsed"
                            *ngIf="!isLoggedIn()" style="cursor: pointer;" role="button" (click)="loggedOut()">Sign out
                        </a>
                            
                    </ul>
                </div>
            </div>  
            <!-- <a class="btn btn-primary nav-link float-right" *ngIf="!authService.loggedIn()" style="cursor: pointer;" (click)="logout()" role="button">Logout {{ authService.decodedToken?.unique_name | titlecase}}</a> -->
        </nav>    
    </div>
   
    <app-register *ngIf= "clickedSignUp" (closeModalClicked)="onSignupCloseModalClicked()"></app-register>
    <app-login-modal *ngIf= "clickedLogin" (closeModalClicked)="onSigninCloseModalClicked()"></app-login-modal>

<!-- <app-login-modal *ngIf="clickedLogin" (closeModalClicked)="onCloseModalClicked()"></app-login-modal> -->

    <div id="hero-image-div">
        <div class="bg-image overlay">            
            <div id="hero-image-contents" class="row">
                <div class="container">
                    <div class="col-sm-12 ml-3">
                        <h1 class="animate__animated animate__bounce"><span style="color: #F29422;">Pregnancy</span> Village</h1>
                        <!-- <p id="hero-image-slogan"><i>experience with us</i></p> -->
                        <p class="animate__animated animate__backInLeft">
                            Pregnancy village is Nigeria's first online community platform for pregnant women.<br>
                            The platform allows women from anywhere share their experience during pregnancy,<br> 
                            give access to doctors and specialist, and a market place to buy and sell babies stuffs,<br> 
                            kids and women stuffs.
                        </p>
                        <a class="btn btn-primary mr-3 nav-link mb-3" *ngIf="true" [routerLink]="['/']"  role="button">Forums</a>
                            <!-- <a class="btn btn-primary mr-3 nav-link" *ngIf="authService.loggedIn()" [routerLink]="['/register']"  role="button">Register</a>
                            <a class="btn btn-primary mr-3" *ngIf="authService.loggedIn()" style="cursor: pointer;" (click)="onLoginClicked()" role="button">Login</a>
                            <a class="btn btn-primary mr-3" *ngIf="!authService.loggedIn()" [routerLink]="['/dashboard']" style="cursor: pointer;" role="button">Profile</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div id="section-features" class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2> Share your stories with &mdash; <span style="color: #F29422;;">LOVE</span></h2>
                <p class="long-copy mb-4">
                    Pregnancy village is Nigeria's first online community platform for pregnant women.
                    The platform allows women from anywhere share their experience during pregnancy,<br> 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">FORUMS  <i class="ml-1 fas fa-users icon-big"></i></h3>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Market  <i class="ml-1 fas fa-store-alt icon-big"></i></h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">Cart  <i class="ml-1 fas fa-shopping-cart icon-big"></i></h3>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">Contact  <i class="ml-1 far fa-id-card icon-big"></i></h3>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div id="section-images" class="container-fluid">
        <ul class="list-group list-group-horizontal viewer">
            <div class="row">
                <div class="col-sm-12">    
                    <li class="list-group-item view">
                        <figure class="figure">
                            <img src="../../../../assets/images/preg15.jpg" class="figure-img img-fluid rounded" alt="...">
                        </figure>
                    </li>
                
                    
                    <li class="list-group-item view">
                        <figure class="figure">
                            <img src="../../../../assets/images/preg3.jpg" class="figure-img img-fluid rounded" alt="...">
                        </figure>
                    </li>
                    
                    <li class="list-group-item view">
                        <figure class="figure">
                            <img src="../../../../assets/images/preg5.jpg" class="figure-img img-fluid rounded" alt="...">
                        </figure>
                    </li>
                    <li class="list-group-item view">
                        <figure class="figure">
                            <img src="../../../../assets/images/preg8.jpg" class="figure-img img-fluid rounded" alt="...">
                        </figure>
                    </li>
                    <li class="list-group-item view">
                        <figure class="figure">
                            <img src="../../../../assets/images/preg10.jpg" class="figure-img img-fluid rounded" alt="...">
                        </figure>
                    </li>
                    <li class="list-group-item view">
                        <figure class="figure">
                            <img src="../../../../assets/images/preg13.jpg" class="figure-img img-fluid rounded" alt="...">
                        </figure>
                    </li>
                    <li class="list-group-item view">
                        <figure class="figure">
                            <img src="../../../../assets/images/preg16.jpg" class="figure-img img-fluid rounded" alt="...">
                        </figure>
                    </li>
                    <li class="list-group-item view">
                        <figure class="figure">
                            <img src="../../../../assets/images/preg11.jpg" class="figure-img img-fluid rounded" alt="...">
                        </figure>
                    </li>
                </div>
            </div>
        </ul>
    </div>
</section>