@import "../../../../scss/variables"; //created custom variables

/*----------------------- Header css starts ----------------------*/

header{
 position: relative;
 top: 0;
 left: 0;
}
 
/*----------------------- Header css ends ----------------------*/

/*----------------------- Navbar css starts ----------------------*/
.navbar-fixed-top {
	position:fixed !important;
}

nav {
	position: relative;
	top: 0;
	width: 100%;
	// background-color: transparent;	
	background-color: #5b5b5b;
	transition: 0.2s;
	z-index: 3;
	

	.navbckgrdwhite {
		background-color: $white;
		transition: all 0.2s;
	}

	.bgChange {
		background-color: $text-color;
	}
	.nav-white {
		background-color: $white;
		transition: all 0.2s;
		padding-bottom: 40px;
	}
	
	.navbar-brand {
    	height: 50px;
   		width: auto;
    	opacity: 1;
	}
		
	.logoCollapsed {
		background-color: $black;
		height: 50px;
		width: auto;
		margin-top: -5px;
		opacity: 1;
	}

	.nav-link {
		font: normal 600 70%/32px 'Muli', 'Arial', sans-serif;
		text-decoration: none;
		outline: none;
		color: $white;
		text-transform: uppercase;
		opacity: 1;
	}

	.nav-link:hover, .nav-link:focus, .nav-link:active, .nav-link:visited{
		color: $white;
		transition: border 0.2s;
		border-bottom: 2px solid $primary;
	}

	.linkcolor{
		color: $black !important;
	}

	.active {
		color: $white;
		transition: border 0.2s;
		border-bottom: 2px solid $primary;
	}

	.btn-outline-primary {
		color: $primary;
		outline: none;
	}
		
	.btn-ghost-collapsed{
		position:relative;
		border-radius: 20px;
		margin-top: 5px;
		width: 25%;
		height: auto;
		-webkit-transition:0.2s all;
		transition:0.2s all;
	}

	.btn-ghost-collapsed:hover{
		color: $white;
		width: 35%;
		padding-right: 45px !important;
		transition: all 0.3s;
	}

	.btn-ghost-collapsed:after {
		content:"\f178";
		font-family:FontAwesome;
		position:absolute;
		width: 25px;
		right: 10px;
		text-align:center;
		color: $white;
		opacity:0;
		-webkit-transition:0.2s all;
		transition:0.2s all;
	}

	.btn-ghost-collapsed:hover:after{
		opacity:1;
		transition: 0.5s;
	}
	
	.btn-primary{
		// padding-top:7px !important;
		// padding-bottom:5px !important;
		// padding-right: 20px !important;
		// padding-left: 20px !important;
		// background-color: transparent !important;
		border: 1px solid $primary;
		color: $white;
		border-radius: 40px;
		margin-top: 5px;
		-webkit-transition:0.2s all;
		transition:0.2s all;
	}

	.btn-ghost:hover{
		// background-color:#fff;
		// border: 1px solid #FF6700;
		// color:#FF6700;
		padding-right: 45px !important;
	}
	
	.btn-ghost:after {
		// content:"\f178";
		content: "\f2f6";
		font-family:"Font Awesome 5 Free";
		position:absolute;
		width: 25px;
		right: 10px;
		text-align:center;
		opacity:0;
		-webkit-transition:0.2s all;
		transition:0.2s all;
	}
	
	.btn-ghost:hover:after{
		opacity:1;
	}

}


@media (max-width: 767.9px) {
	nav {
		// background-color: #5b5b5b;	

		.nav-link:hover {
			border-bottom: none;
		}

		// .logo {
		// 	height: 60px;
		// 	width: auto;
		// }

		// .active {
		// 	border-bottom: none;
		// }
	}

}

@media (max-width: 991.9px) {
	nav {
		// background-color: #5b5b5b;	

		// .nav-link:hover {
		// 	border-bottom: none;
		// }

		
		.nav-white {
			background-color: $white;
			transition: all 0.2s;
			padding-bottom: 30px;
			margin-left: -20px;
			padding-left: 8px;
			margin-top: -10px;
			padding-top: 9px;
			// margin-right: -15px !important;
			// padding-right: 25px;
		}

		.logo {
			height: 60px;
			width: auto;
		}

		// .active {
		// 	border-bottom: none;
		// }

		
		.btn-ghost-collapsed.profile-btn{
			width: 40% !important;
		}

		.nav-link.profile-btn:visited {
			color: $black;
		}

		.profile-btn:hover{
			width: 60px !important;
			padding-right: 70px !important;
		}
	
		.btn-ghost-collapsed.profile-btn:hover{
			color: $white !important;
			width: 95% !important;
			padding-right: 65px !important;
			transition: all 0.3s !important;
		}
	
	}

}

@media (min-width: 992px) {
	nav {


		.logo {
			height: 60px;
			width: auto;
		}

		.btn-ghost-collapsed{
			// position:relative;
			// border-radius: 20px;
			margin-top: 0;
			min-width: 60%;
			// padding-bottom: 0 !important;
			// padding-top: 0 !important;

		// 	height: auto;
		// 	-webkit-transition:0.2s all;
		// 	transition:0.2s all;
		}
	
		.btn-ghost-collapsed:hover{
			// color: $white;
			width: 55%;
			padding-right: 65px !important;
			// transition: all 0.3s;
		}

		// .active {
		// 	border-bottom: none;
		// }

	}

}
/*----------------------- Navbar css ends ----------------------*/

/*----------------------- Hero-Image css starts ----------------------*/

#hero-image-div{
	position: relative;
	width: 100%;
	height:calc(100vh - 80px);
	overflow: hidden;
	padding: 0;
	top: 0;

	.bg-image {
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
		background-image: url(../../../../assets/css/img/preg6.jpg);
		background-position: top center;
		background-size:cover;
		background-attachment:fixed;
		background-repeat: no-repeat;
	}
	
	.bg-image.overlay:after {
		content:"";
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
		background-image: linear-gradient(to right, #292929 0%, #332f2f 100%);
		// background-image: linear-gradient(to right, #3f97e1 0%, #3f97e1 100%);
		opacity: 0.8;
		z-index: 1;
	}

	// #hero-image-ad-contents {
	// 	position: relative;
	// 	top: 5%;
	// 	overflow: hidden;
	// 	z-index: 2;

	// 	.card{
	// 		height: 13vh;
	// 		width: auto;
	// 	}
		
	// 	.card-body {
	// 		padding: 0;
	// 	}
	// }

	#hero-image-ad-contents {
		@include XS{
			position: relative;
			top: 80px;
			overflow: hidden;
			z-index: 2;
	
			.card{
				height: 13vh;
				width: auto;
			}
			
			.card-body {
				padding: 0;
			}
			
		}
	}
	
	#hero-image-contents{
		position: relative;
		top: 20%;
		height:calc(100vh - 20%);
		color: $white !important;
		overflow: hidden;
		z-index: 2;
	}
	
	#hero-image-contents h1{
		letter-spacing: 1px;
		color: $white;
		text-transform: uppercase;
	}
	
	#hero-image-contents p{
		font-size: 0.8rem;
		line-height: 160%;
		word-spacing: 2px;
		padding-bottom: 10px;
	}

	.btn-primary {
		position:relative;
		border: 1px solid transparent;
		color: $white;
		outline: none;
		border-radius: 20px;
		margin-top: 5px;
		text-transform: uppercase;
		width: 35%;
		-webkit-transition:0.2s all;
		transition:0.2s all;
	}

	.btn-primary:hover {
		background-color: $white !important;
		border: 1px solid $primary;
		color: $primary;
		width: 45%;
		padding-right: 55px !important;
		transition: all 0.3s;
	}

	.btn-primary:after {
		content:"\f0c0";
		font-family:FontAwesome;
		position:absolute;
		color: $primary;
		width: 25px;
		right: 10px;
		text-align:center;
		opacity:0;
		-webkit-transition:0.2s all;
		transition:0.2s all;
	}

	.btn-primary:hover:after{
		opacity:1;
		transition: 0.5s;
	}



}

.btn1 {
    @include XS-SM{
        width: 80% !important;
    }
}






@media (max-width: 991.9px) {
	#hero-image-div{
		position: relative;
		min-height:calc(100vh - 100px);
		overflow: hidden;

		// #hero-image-ad-contents {
		// 	top: 15%;
		// }

		// #hero-image-contents {
		// 	top: 25%;	
		// 	height:calc(100vh - 20%);
		// }

		.btn-primary.profile-btn:hover{
			color: $primary !important;
			width: 55% !important;
			padding-right: 35px !important;
			transition: all 0.3s !important;
		}
	}
	

}

@media (min-width: 992px) {
	#hero-image-div{
		// top: 10vh;
		// .bg-image {
		// 	top: 12vh;
		// }
		.btn-primary {
			width: 20%;
		}

		.btn-primary:hover {
			width: 25%;
			padding-right: 35px !important;
			transition: all 0.3s;
		}
	}
}
/*----------------------- Hero-Image css ends ----------------------*/

/*----------------------- Section-features css starts ----------------------*/

#section-features{
	
	padding: 100px 0;

	h1 {
		// font-size: 180%;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 1px;
		word-spacing: 2px;
		margin-bottom: 30px;
		text-align: center;
	}

	h1:after {
		display: block;
		height: 2px;
		background-color: $primary;
		content: " ";
		// font-family:"Font Awesome 5 Free";
		// position:absolute;
		width: 100px;
		margin: 0 auto;
		margin-top: 20px;
		-webkit-transition:0.2s all;
		transition:0.2s all;
	}

	p {
		font-size: 1rem;
		line-height: 150%;
		word-spacing: 2px;
	}

	.card{
		border: none;
		background-color: $bg-dark;
		// height: 35vh;
		overflow-y: auto;
	}

	.card-title {
		font-weight: 400;
	}

	.card-text {
		font-size: 0.8rem;
		line-height: 130%;
		word-spacing: 2px;
	}

	.icon-big{
		font-size: 100%;
		display: inline-block;
		color: $primary;
		margin-bottom: 5px;
		// text-align: center;
	}

}

// @media (max-width: 575.9px) {
// 	#section-features {
// 		// padding: 40px 0 10px;
// 	}
	

// }

/*----------------------- Section-features css ends ----------------------*/

/*----------------------- Section-images css starts ----------------------*/

#section-images{
	padding: 0;
	overflow: hidden;

	.container-fluid{
		overflow: hidden;
	}

	.list-group-item{
		border: none !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	
	.viewer li{
		display: block;
		float: left;
		width: 25%;
		margin-bottom: -20px !important;
		padding: 0 !important;
	}

	.view{
		width: 100%;
		margin: 0 !important;
		padding: 0 !important;
		overflow: hidden;
		background-color: $black;
	}

	// .figure {
	// 	width: 100%;
	// 	background-color: $black;
	// 	padding-bottom: 3vh;
	// }

	figure img{
		width: 100%;
		height: auto;
		opacity: 0.7;
		margin: 0 !important;
		padding: 0 !important;
		transform: scale(1.4);
		-webkit-transition: transform 0.5s opacity 0.5s;
		transition: transform 0.5s, opacity 0.5s;
	}

	figure img:hover{
		opacity: 1;
		transform: scale(1.22);
	}

	.figure-img, .img-fluid, .rounded{
		margin: 0 !important;
		padding: 0 !important;
	}

}


/*----------------------- Section-images css ends ----------------------*/

/*----------------------- Section-tabset css starts ----------------------*/

#section-tabset {
	padding: 80px 0;
	overflow: hidden;

	.card {
		margin-bottom: 10px;
		box-shadow: -1px 2px #b9b9b9;
	
	}

	h1 {
		// font-size: 180%;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 1px;
		word-spacing: 2px;
		margin-bottom: 30px;
		text-align: center;
	}

	h1:after {
		display: block;
		height: 2px;
		background-color: $primary;
		content: " ";
		// font-family:"Font Awesome 5 Free";
		// position:absolute;
		width: 100px;
		margin: 0 auto;
		margin-top: 20px;
		-webkit-transition:0.2s all;
		transition:0.2s all;
	}

	p {
		font-size: 1rem;
		line-height: 150%;
		word-spacing: 2px;
	}

	.card-title {
		font-weight: 400;
	}

	.card-text.text-muted {
		font-size: 1rem;
		line-height: 150%;
		word-spacing: 2px;
	}

	.card-text {
		font-size: 0.8rem;
		line-height: 130%;
		word-spacing: 2px;
	}	

	tab .card {
		width: 100%;
		height: 170px !important;
		height: 70vh;
		border: 1px transparent !important;
		box-shadow: -1px 2px #b9b9b9;
		background-color: $white !important;
		margin-bottom: 10px;
		padding-bottom: 10px;
		// overflow-y: auto;
	}
}

@media (max-width: 991.9px) {
	#section-tabset {
		padding: 80px 20px;
		overflow: hidden;
	}
}
/*----------------------- Section-tabset css ends ----------------------*/

/*----------------------- contact-div css starts ----------------------*/

#contact-div {
	padding: 80px 0;
	overflow: hidden;

}

.bg-drk {
	background-color: $text-color;
}

/*----------------------- contact-div css ends ----------------------*/


// .show-modal{
//     opacity: 1;
//     z-index: 2;
// 	animation: show .8s ease-in-out both;

//     transform: scale(1);
// }

// .hide-modal{
// 	z-index: -1;
// 	opacity: 0;
// 	animation: hide .25s ease-in-out;
// 	transform: scale(0);
// }

// @keyframes show{
//     0%{
//         transform: scale(0);
//         opacity: 0;
//         z-index: -1;
//     }
// 	75%{
// 		transform: scale(0.5);
//         opacity: 0;
// 		z-index: 1;
// 	}
// 	100%{
//         transform: scale(1);
//         opacity: 1;
//         z-index: 2;
//     }
// }

// @keyframes hide{
//     from{
// 		z-index: 2;
// 		transform: scale(1);
// 		opacity: 0;
//     }
// 	to{
// 		z-index: -1;
//         transform: scale(0);
//         opacity: 0;
       
//     }
// }