<section>
    <div id="section-menu" class="container-fluid">
        <div id="hero-image-div">
            <div class="bg-image overlay">            
                <div id="hero-image-contents">
                    <div class="container-fluid">
                        <!-- <div class="col-sm-12 profile"> -->
                            <!-- <div class="header"> -->
                                <div class="row header">
                                    <!-- <div class="header"> -->
                                        <div class="col-sm- img-col">
                                            <img src="../../../../assets/images/lady-icon.png" class="img-fluid ml-3 img-size img-rounded">
                                        </div>
                                        <div class="col-sm-8 txt-col">
                                            <p> Looking good</p>
                                        </div>
                                    </div>
                                   
                                    <!-- <div class="header">
                                        <div class="col-sm-3">
                                            <p>im tired</p>
                                            <img src="../../../../assets/images/lady-icon.png" class="img-fluid ml-3 img-size img-rounded">
                                            <h4 class="date"> Joined: 4 April, 2010</h4>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="">
                                                <p>for real</p>
                                                 <h3 class="">Stella Damascus</h3>
                                                <div class="">   
                                                    <button class="btn btn-primary mr-3 nav-link mb-3" *ngIf="true"  role="button">Edit Profile</button>
                                                    <button class="btn btn-primary mr-3 nav-link mb-3" *ngIf="true"  role="button">Beome a merchant</button>
                                                    <button class="btn btn-primary mr-3 nav-link mb-3" *ngIf="true"  role="button">Become a service provider</button>
                                                </div>
                                            </div>
                                        </div>
                                       
                                           
                                            <h4>stellasmmed@us.com</h4>
                                            <h4>8 june, 1988</h4>
                                            <h4>24 Posts so far</h4>
                                    </div>
                                    
                                </div>
                            </div> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>