<section class="bg-drk p-3">
    <ul class="nav text-center justify-content-center flex-column flex-sm-row">
        <li class="nav-item">
            <a class="nav-link text-white text-uppercase">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white text-uppercase">Consultancy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white text-uppercase">Social Media</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white text-uppercase">FAQ</a>
        </li>
    </ul>
</section>