@import "../assets/css/spinner.css"; //spinner onload 
@import "../../node_modules/alertifyjs//build/css/alertify.min.css"; //alertify notification
@import "global"; //overwrite bootstrap classes and variables
@import "variables"; //created custom variables
@import "~bootstrap/scss/bootstrap"; //bootstrap4


*{
    box-sizing: border-box;
}

html{
    background-color: $white;
    color: $text-color;
    font-family: 'Muli', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

@media (min-width: 0px) {

    html{
        font-size: 16px;
    }

    .nav-link:hover{
		border-bottom: none;
    }
    .active {
		border-bottom: none;
	}
    .badge {
        background-color: white;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    html{
        font-size: 16px;
    }

    .badge {
        background-color: red;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    html{
        font-size: 18px;
    }

    .badge {
        background-color: green;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .badge {
        background-color: blue;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .badge {
        background-color: black;
    }
 }




/*----------------------- Section-tabset on landing-page css starts ----------------------*/

// tabset {
//     // background-color: transparent !important;
//     // padding: 10px;
//     // border: 1px solid #ddd;
//     // padding: 10px;
//     // border-radius: 4px;
// }

tabset ul.nav.nav-tabs {
    margin-bottom: 4%;
    position: relative;
    border: none;
}

.nav-tabs {
    border: none;
}

.nav-tabs .nav-link {
    color: rgb(75, 73, 73);
}

tabset ul.nav.nav-tabs li{
    position: relative;
    top: 15px;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 80%;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
	// margin-bottom: 30px;
	text-align: center;
    width: auto;
    height: auto;
    background-color: #fafafa;
    box-shadow: 2px 7px #cbcbcb;
    border: 1px solid rgb(226, 224, 224);
    margin-right: 7px;
    margin-bottom: 7px;
    padding: 5px;
}

//   .nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
//     border-bottom: 4px solid #fbcdcf;
//   }
  
//   .member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
//     border: 0;
//     background: none !important;
//     color: #333333;
//   }
  
//   .member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
//     color: #a6a6a6;
//   }
  
//   .member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
//     margin-top: 0px;
//   }
  
//   .member-tabset > .nav-tabs > li.active {
//     border-bottom: 4px solid #E95420;
//     position: relative;
//   }
  
//   .member-tabset > .nav-tabs > li.active > a {
//     border: 0 !important;
//     color: #333333;
//   }
  
//   .member-tabset > .nav-tabs > li.active > a > i {
//     color: #404040;
//   }
  
//   .member-tabset > .tab-content {
//     margin-top: -3px;
//     background-color: #fff;
//     border: 0;
//     border-top: 1px solid #eee;
//     padding: 15px 0;
//   }


// primeng spinner
@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}